<!DOCTYPE html>
<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-xs-offset-4 col-xs-4">
                <form role="form" ng-submit="joinRoom()">
                    <div class="form-group">
                        <label for="roomName">Enter Room Name</label>
                        <input type="text" class="form-control" id="roomName" placeholder="Enter Room" ng-model="roomName"/>
                    </div>
                    <input type="submit" class="btn btn-default" value="Join"/>
                </form>
            </div>
        </div>
    </div>
</div>
